/* @font-face { */
/*   font-family: "Cascadia Mono NF"; */
/*   font-style: normal; */
/*   src: url("/assets/fonts/CascadiaMonoNF-Regular.otf") format("otf") */
/* } */
/* @font-face { */
/*   font-family: "Cascadia Mono NF Cursive"; */
/*   font-style: italic; */
/*   font-feature-settings: "ss01" 1, "ss02" 1; */
/*   src: url("/assets/fonts/CascadiaMonoNF-Italic.otf") format("otf") */
/* } */
@import url('https://fonts.googleapis.com/css2?family=Victor+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import "tailwindcss";
@plugin "@tailwindcss/typography";

@font-face {
  font-family: 'Cascadia Mono NF';
  src:
    url('CascadiaMonoNF-Regular.woff2') format('woff2'),
    url('CascadiaMonoNF-Regular.woff') format('woff'),
    url('CascadiaMonoNF-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Cascadia Mono NF';
  src:
    url('CascadiaMonoNF-Italic.woff2') format('woff2'),
    url('CascadiaMonoNF-Italic.woff') format('woff'),
    url('CascadiaMonoNF-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
  /*
   * Regrettably, this doesn't seem to work, nor could I force the font to use
   * the cursive variant as the default very easily. Victor Mono will be used
   * should I want a cursive mono font as an accent anywhere!
   */
  font-feature-settings: "ss01" 1, "ss02" 1;
}
@theme {
  --font-cascadia: "Cascadia Mono NF", monospace;
  --font-victor: "Victor Mono", monospace;
}
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "cyberdream-dark";
  default: false;
  prefersdark: false;
  color-scheme: "dark";
  --color-base-100: #16181a;
  --color-base-200: #1e2124;
  --color-base-300: #3c4048;
  --color-base-content: #ffffff;
  --color-primary: #ff5ea0;
  --color-primary-content: #16181a;
  --color-secondary: #bd5eff;
  --color-secondary-content: #16181a;
  --color-accent: #5ef1ff;
  --color-accent-content: #16181a;
  --color-neutral: #1e2124;
  --color-neutral-content: #ffffff;
  --color-info: #5ea1ff;
  --color-info-content: #16181a;
  --color-success: #5eff6c;
  --color-success-content: #16181a;
  --color-warning: #f1ff5e;
  --color-warning-content: #16181a;
  --color-error: #ff6e5e;
  --color-error-content: #16181a;
  --radius-selector: 0.5rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 1;
}
@plugin "daisyui/theme" {
  name: "cyberdream-light";
  default: false;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: #ffffff;
  --color-base-200: #eaeaea;
  --color-base-300: #acacac;
  --color-base-content: #000000;
  --color-primary: #f40064;
  --color-primary-content: #ffffff;
  --color-secondary: #a018ff;
  --color-secondary-content: #ffffff;
  --color-accent: #008c99;
  --color-accent-content: #ffffff;
  --color-neutral: #000000;
  --color-neutral-content: #ffffff;
  --color-info: #0057d1;
  --color-info-content: #ffffff;
  --color-success: #008b0c;
  --color-success-content: #ffffff;
  --color-warning: #997b00;
  --color-warning-content: #ffffff;
  --color-error: #d11500;
  --color-error-content: #ffffff;
  --radius-selector: 0.5rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 1;
}

/* Custom Tailwind CSS classes */
.hover-gradient {
  @apply font-semibold bg-base-content hover:bg-gradient-to-r from-primary via-warning to-info inline-block text-transparent bg-clip-text transition
}

.animated-gradient {
  background-size: 200%;

  -webkit-animation: animation 5s ease infinite;
  -moz-animation: animation 5s ease infinite;
  animation: animation 5s ease infinite;
}

.image-square-thumbnail {
  width: 115px;
  height: 115px;
  object-fit: cover;
}

@keyframes animation {
  0% {background-position: 0% 50%;}
  50% {background-position: 100% 50%;}
  100% {background-position: 0% 50%;}
}

.nav-item {
  @apply flex flex-row items-center justify-center w-30 lg:w-36;
}
.nav-item-mobile {
  @apply flex flex-row items-start justify-start;
}

.text-sideways {
  writing-mode: vertical-rl;
  text-orientation: mixed;
}

/* Custom, non Tailwind CSS */
#logo:hover {
  filter: drop-shadow(0 0 2em var(--color-warning));
  transition: filter 1s;
}
#logo:not(:hover) {
  filter: drop-shadow(0 0 0 transparent);
  transition: filter 1s;
}

@media print {
  header, footer, .tsqd-parent-container, button {
    display: none;
  }

  body {
    margin-left: 3rem;
    margin-top: -2rem;
  }

  svg {
    margin-left: -7rem;
    margin-right: 15rem;
  }

  p, ul {
    break-inside: avoid;
  }
}

@page {
  margin: 1cm;
}

.prose p img {
  @apply mx-auto;
  @apply block;
}

.prose h1 h2 h3 h4 h5 h6 {
  @apply font-cascadia;
}

.syntax-highlighter {
  background: transparent !important;
}